body {
  width: 1000px;
  margin: auto;
  background-color: #DCDDDF;
}

h1 {
  padding: 40px 0px 20px 0px;
  font-size: 60px;
  text-align: center;
  font-family:'Times New Roman';
}

h3 {
  font-family:'Times New Roman';
}

p {
  font-size: 15px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%; 
  border: 1px solid #ddd;
  font-size: 18px;
}

th, td {
  border: 1px solid #ddd;
}

#home:link {
  text-decoration: none;
  cursor: text;
  color: black;
}

#home:visited {
  cursor: text;
  text-decoration: none;
  color: black;
}

#home:active {
  cursor: text;
  text-decoration: none;
  color: black;
}

#home:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#note {
  color: #fb2525;
  text-align: center;
  text-decoration: underline;
}

#leaderboard {
  text-align: center;
}

#mainbody {
  width: 800px;
  margin: 0 auto;
}